body { 

    background-color: rgb(245, 246, 247);
    
    }
    
    h1 { 
        
        background-color: rgb(2, 2, 49);
        color: rgb(247, 241, 241);
        padding-top: 20px;
       
    
    
    
    
    
    }
    .gato1{


    text-align: center;
    border: 2px double rgb(7, 7, 7);
    padding: 20px 100px;    
    margin-left: 725px;
    margin-right: 725px;

    }
    .gato2{

    text-align: center;
    border: 2px double rgb(7, 7, 7);
    padding: 20px 100px;
    margin-left: 725px;
    margin-right: 725px;

    }

    .text{

    text-align: center;
    }




    