*{
margin: 0;
}
header{
    background-color: black;
    height: 80px;
    color: white;
}
.container{
    display: flex;
  justify-content:center;
  justify-content: space-evenly;
 
}
.container p{
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 4px;
    margin-top: 2.5%;
}
.container p:hover{
transform: scale(1.2);
background-color: rgb(248, 205, 10);
color: red;
cursor: pointer;
}
.container2 img{
    width: 20%;
    height: 20%;
    box-shadow: 5px 5px 5px 5px;
    border-radius: 20px;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row-reverse;
}
.container2 img:hover{
  order: ;
    transform: scale(1.2);
}