
#celular{
    width: 450px;
    height: 850px;
    background-color: #b2b6b5;
    border: 2px solid ;
    position: absolute;
    top:50px;
    left: 400px;
    border-radius: 5%;
}
#fundo img{
    position: absolute;
    height: 850px;
    width: 450px;
    left: 400px;
    top: 50px;
    border-radius: 5%;
}

#playbottom1{
    width: 90px;
    height: 90px;
    background-color: #8205f8;
    border-radius: 50%;
    position: absolute;
    top: 700px;
    left: 575px;
}

#playbottom2{
    width: 0;
    height: 0;
    border-left:30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #000;
    position: absolute;
    rotate: -90deg;
    top: 730px;
    left: 593px;
}
.botao:hover *{
   transform: scale(1.2,1.2);
}
#avancar1{
    width: 0;
    height: 0;
    border-left:30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 40px solid #8205f8;
    position: absolute;
    rotate: -90deg;
    top: 720px;
    left: 700px;
}
#avancar2{
    width: 0;
    height: 0;
    border-left:30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 40px solid #8205f8;
    position: absolute;
    rotate: -90deg;
    top: 720px;
    left: 735px;
}
#retornar1{
    width: 0;
    height: 0;
    border-left:30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 40px solid #8205f8;
    position: absolute;
    rotate: 90deg;
    top: 720px;
    left: 480px;
}
#retornar2{
    width: 0%;
    height: 0%;
    border-left:30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 40px solid #8205f8;
    position: absolute;
    rotate: 90deg;
    top: 720px;
    left: 445px;
}
#barra{
    width: 400px;
    height: 2px;
    background-color: #c2bfbf77;
    border: 2px solid ;
    position: absolute;
    top: 650px;
    left: 425px;
    border-radius: 15%;
    color: #c2bfbf86;
}
#tempo1{
    height: 125px;
    width: 125px;
    position: absolute;
    top: 665px;
    left: 425px;
    color: white;
}
#tempo2{
    height: 125px;
    width: 125px;
    position: absolute;
    top: 665px;
    left: 790px;
    color: white;
}
#praia img{
    z-index: 15;
    position: absolute;
    width: 400px;
    height: 400px;
    top: 130px;
    left: 425px;
    border: #000 solid 2px;
    border-radius: 20%;
}
#favorito{
    width: 100px;
    height: 100px;
    background-color: #fff;
    clip-path: path("M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181");
    position: absolute;
    top: 850px;
    left: 440px;
}
#nome{
    position: absolute;
    width: 300px;
    height: 900px;
    left: 500px;
    top: 550px;
    color: rgb(214, 102, 102);
}
